
/* Create a new custom triangle on the right side */
summary::after {
  margin-left: 1ch;
  display: inline-block;
  content: '🔄';
  transition: 0.2s;
}

details[open]>summary::after {
  transform: rotate(90deg);
}

details>summary {
  list-style-type: none;
}

details[open]>summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details { cursor: pointer; }

